/Libraries/Quang.Auth.DataAccess/obj
/packages
/.vs
/Libraries/Quang.Auth.DataAccess/bin
/Presentation/Quang.Auth.Web/bin
/Presentation/Quang.Web/obj
/Presentation/Quang.Web/bin
/Presentation/Quang.Cate.Api/bin
/Presentation/Quang.Cate.Web/bin
/Presentation/Quang.Cate.Web/obj
Presentation/Quang.Cate.Web/npm-debug.log
*.dll
