/Libraries/Quang.Auth.DataAccess/obj
/packages
/.vs
/Libraries/Quang.Auth.DataAccess/bin
/Presentation/Quang.Auth.Web/bin
/Presentation/Quang.Web/obj
/Presentation/Quang.Web/bin
/Presentation/Quang.Cate.Api/bin
/Presentation/Quang.Cate.Web/bin
/Presentation/Quang.Cate.Web/obj
Presentation/Quang.Cate.Web/npm-debug.log
*.dll
*.dll
*.dll
Presentation/Quang.Cate.Api/obj/Debug/Quang.Cate.Api.csproj.FileListAbsolute.txt
*.cache
*.dll
/Libraries/Quang.Cate.Entities/obj
/Libraries/Quang.Cate.Entities/bin
/Libraries/Quang.Common/obj
/Libraries/Quang.Cate.BusinessLogic/bin
/Libraries/Quang.Cate.BusinessLogic/obj
