/Libraries/Quang.Auth.DataAccess/obj
/packages
/.vs
/Libraries/Quang.Auth.DataAccess/bin
/Presentation/Quang.Auth.Web/bin
/Presentation/Quang.Web/obj
/Presentation/Quang.Web/bin
/Presentation/Quang.Cate.Api/bin
/Presentation/Quang.Cate.Web/bin
/Presentation/Quang.Cate.Web/obj
Presentation/Quang.Cate.Web/npm-debug.log
*.dll
*.dll
*.dll
Presentation/Quang.Cate.Api/obj/Debug/Quang.Cate.Api.csproj.FileListAbsolute.txt
*.cache
*.dll
/Libraries/Quang.Cate.Entities/obj
/Libraries/Quang.Cate.Entities/bin
/Libraries/Quang.Common/obj
/Libraries/Quang.Cate.BusinessLogic/bin
/Libraries/Quang.Cate.BusinessLogic/obj
Presentation/Quang.Cate.Api/bin/Quang.Common.pdb
*.pdb
Presentation/Quang.Cate.Api/bin/Quang.Common.dll
Presentation/Quang.Cate.Api/bin/Quang.Cate.Api.pdb
*.dll
Presentation/Quang.Auth.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Libraries/Quang.Cate.BusinessLogic/bin/Debug/Quang.Cate.BusinessLogic.pdb
*.dll
Libraries/Quang.Cate.BusinessLogic/bin/Debug/Quang.Cate.DataAccess.pdb
*.xml
*.dll
Libraries/Quang.Cate.BusinessLogic/bin/Debug/Quang.Cate.DataAccess.pdb
Libraries/Quang.Cate.BusinessLogic/obj/Debug/Quang.Cate.BusinessLogic.csproj.FileListAbsolute.txt
