<?xml version="1.0"?>
<connectionStrings>
  <add name="QuangAuth" connectionString="server=192.168.222.117;Database=Security;Uid=dev;Pwd=123456789;Charset=utf8" providerName="MySql.Data.MySqlClient" />
  <add name="ErrorStore" connectionString="server=192.168.222.117;Database=ErrorStore;Uid=dev;Pwd=123456789;Charset=utf8" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
