<div id="main-content" style=" padding: 0 !important;    border-radius: 3px !important;    background: none !important; text-align:left;" >
<div class="row" style="color: #333;    float: left;    font-size: 12px;    width: 100%;">
	<div class="col-sm-4" style="float: left; *position: relative;">
		<div style="position: relative; z-index: 2; float: left; width: 100%;">		
			<ul style="width: 100%;    float: left;    margin-top: 10px;    position: relative;">
				<h3 style="border-radius: 3px 3px 0 0;font-size: 18px; height: 35px; padding: 12px 0 0 20px; margin-top: 0;margin:0;font-weight: normal;background: #fff;">
		Lựa chọn chuyên mục
	</h3>
	<li style=" height: 50px;    padding: 0 0px 0 48px;    background-color: #fff;    margin: 0px 0;    border-top: 1px solid #e5ecf4;    border-bottom: 1px solid #e5ecf4;background: url('images/icon_menu_1.png') no-repeat scroll 14px center #fff;">
	<a style="  display: block;    color: #333;    font-size: 15px;    padding: 17px 0;    position: relative;  ">	Mua bán nhà đất
	<label style="background: url('images/menu_arr_r.png?v=15') no-repeat scroll 2px 18px #fff;    width: 28px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0;"></label>
	</a>
	</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8">kk</div>
</div>
    
</div>