<?xml version="1.0"?>
<connectionStrings>
  <add name="ErrorStore" connectionString="server=125.212.202.55;Database=ErrorStore;Uid=root;Pwd=zaq123AA;Charset=utf8" providerName="MySql.Data.MySqlClient" />  
  <add name="Categories" connectionString="server=125.212.202.55;Database=ErrorStore;Uid=root;Pwd=zaq123AA;Charset=utf8" providerName="MySql.Data.MySqlClient" />  
</connectionStrings>
