<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách các nhóm</h3>
    </div>
    <div class="panel-body">
        <nav class="pagination-container">
            <pagination boundary-links="true" ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </nav>
        <nav class="navbar navbar-default">
            <div class="container-fluid container-fluid-filter">
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <button type="button" class="btn btn-default" ng-click="removeCheckedItems()" ng-disabled="isDisabledBtnDeleteAll">Xóa các nhóm đã chọn</button>
                        <button type="button" class="btn btn-default" ng-click="openDialogCreateItem()">Thêm mới nhóm</button>
                    </form>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <select class="form-control" ng-model="ParentId" ng-change="searchItems()" ng-options="item.Id as item.Name for item in listAllParents">
                                <option value="">-- Chọn nhóm cha --</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Tìm kiếm..." ng-model="qsearch">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="searchItems()">GO</button>
                    </form>
                </div>
            </div>
        </nav>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                    <th class="text-center">ID</th>
                    <!--<th>Nhóm cha</th>-->
                    <th>Tên nhóm</th>
                    <th>Mô tả</th>
                    <th class="text-center" show-if-authenticated="100">Số thành viên</th>
                    <th class="text-center" style="width: 260px;">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in items">
                    <td class="text-center"><input type="checkbox" ng-model="item.Selected" /></td>
                    <td class="text-center">{{item.Id }}</td>
                    <!--<td>{{item.ParentName}}</td>-->
                    <td>{{item.Name}}</td>
                    <td>{{item.Description}}</td>
                    <td class="text-center" show-if-authenticated="100"><a ng-href="/#group/users/{{item.Id}}">Có {{item.TotalMembers}} thành viên</a></td>
                    <td class="text-center">
                        <!--<button type="button" class="btn btn-default" ng-click="openDialogGrantUser(item)" show-if-authenticated="140">Phân quyền</button>-->
                        <button type="button" class="btn btn-default" ng-click="openDialogGrantUser(item)">Phân quyền</button>
                        <button type="button" class="btn btn-default" ng-click="openDialogEditItem(item.Id)">Sửa</button>
                        <button type="button" class="btn btn-default" ng-click="removeItem(item.Id)" ng-disabled="isDisabledBtnDelete{{item.Id }}">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="navbar navbar-default">
            <div class="container-fluid container-fluid-filter">
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <button type="button" class="btn btn-default" ng-click="removeCheckedItems()" ng-disabled="isDisabledBtnDeleteAll">Xóa các nhóm đã chọn</button>
                        <button type="button" class="btn btn-default" ng-click="openDialogCreateItem()">Thêm mới nhóm</button>
                    </form>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <select class="form-control" ng-model="ParentId" ng-change="searchItems()" ng-options="item.Id as item.Name for item in listAllParents">
                                <option value="">-- Chọn nhóm cha --</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Tìm kiếm..." ng-model="qsearch">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="searchItems()">GO</button>
                    </form>
                </div>
            </div>
        </nav>
        <nav class="pagination-container">
            <pagination boundary-links="true" ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </nav>
    </div>
</div>
<!-- Begin modal create -->
<script type="text/ng-template" id="modalCreateGroupContent.html">
    <form name="addForm" id="addForm" novalidate >
        <div class="modal-header">
            <h3 class="modal-title">Thêm mới nhóm</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" show-errors>
                <label class="control-label" for="parentId">Nhóm cha:</label>
                <select class="form-control" id="parentId" name="parentId" ng-model="item.ParentId" ng-options="i.Id as i.Name for i in listAllParents">
                    <option value="">-- Nhóm gốc --</option>
                </select>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="name">Tên nhóm:</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="item.Name" required autofocus />
                <p class="help-block" ng-show="addForm.name.$error.required">Tên nhóm không được bỏ trống</p>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="description">Diễn giải:</label>
                <input type="text" class="form-control" id="description" name="description" ng-model="item.Description" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-disabled="isDisabledBtnCreate" ng-click="createItem()">Thêm mới</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Đóng</button>
        </div>
    </form>
</script>
<!-- End modal create -->
<!-- Begin modal edit -->
<script type="text/ng-template" id="modalEditGroupContent.html">
    <form name="editForm" id="editForm" novalidate >
        <div class="modal-header">
            <h3 class="modal-title">Hiệu chỉnh thông tin nhóm</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" show-errors>
                <label class="control-label" for="parentId">Nhóm cha:</label>
                <select class="form-control" id="parentId" name="parentId" ng-model="item.ParentId" ng-options="i.Id as i.Name for i in listAllParents">
                    <option value="">-- Nhóm gốc --</option>
                </select>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="name">Tên nhóm:</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="item.Name" required autofocus />
                <p class="help-block" ng-show="editForm.name.$error.required">Tên nhóm không được bỏ trống</p>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="description">Diễn giải:</label>
                <input type="text" class="form-control" id="description" name="description" ng-model="item.Description" />
                <p class="help-block" ng-show="editForm.description.$error.required">Diễn giải không được bỏ trống</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-disabled="isDisabledBtnUpdate" ng-click="updateItem()">Cập nhật</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Đóng</button>
        </div>
    </form>
</script>
<!-- End modal edit -->
<!-- Begin modal grant user permissions -->
<script type="text/ng-template" id="modalGrantGroupContent.html">
    <form name="editForm" id="editForm" novalidate valid-submit="updateGroupPermissions()">
        <div class="modal-header">
            <h3 class="modal-title">Phân quyền nhóm</h3>
            <strong>{{group.ParentName}} {{group.Name}}</strong>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                        <th class="w40">Tên role</th>
                        <th class="w50">Diễn giải</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in groupPermissions">
                        <td class="text-center"><input type="checkbox" ng-model="item.IsGranted" name="itemSelected{{$index}}" id="itemSelected{{$index}}" /></td>
                        <td><label for="itemSelected{{$index}}" style="font-weight: normal;">{{item.Permission.Name}}</label></td>
                        <td><label for="itemSelected{{$index}}" style="font-weight: normal;">{{item.Permission.Description}}</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-disabled="isDisabledBtnGrant">Cập nhật</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Đóng</button>
        </div>
    </form>
</script>
<!-- End modal setting app -->