<div class="row" show-if-authenticated="false" style="display: none;">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row" show-if-authenticated="true" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Các chức năng trong hệ thống</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="list-group">
                    <!--<a class="list-group-item active" href="javascript:v;">Quản lý danh mục</a>-->
                    <a class="list-group-item" show-if-authenticated="100" ng-href="#/user">Quản lý thành viên</a>
                    <a class="list-group-item" show-if-authenticated="110" ng-href="#/group">Quản lý nhóm</a>
                    <a class="list-group-item" show-if-authenticated="120" ng-href="#/role">Quản lý quyền</a>
                    <a class="list-group-item" show-if-authenticated="130" ng-href="#/term">Quản lý chức năng</a>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    </div>
</div>