.auth-initializing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;
    display: none;
    background-color: #F5F5F5;
}
.modal-backdrop.in {
    height: 100%;
    opacity: 0.6;
}
.modal-backdrop.backdrop-unauthorized.in
{
    height: 100%;
    opacity: 1;
}
.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}

.form-group.has-error .control-label {
    color: #333;
}
.navbar .container-fluid-filter {
    padding: 0;
}

.navbar .container-fluid-filter .navbar-collapse{
    padding-left: 0;
}

.pagination-container {
    text-align: right;
}

.pagination {
    margin-top: 0px;
}

.w5 {width: 5% !important;}
.w10 {width: 10% !important;}
.w20 {width: 20% !important;}
.w25 {width: 25% !important;}
.w30 {width: 30% !important;}
.w40 {width: 40% !important;}
.w50 {width: 50% !important;}
.w60 {width: 60% !important;}
.w70 {width: 70% !important;}
.w75 {width: 75% !important;}
.w80 {width: 80% !important;}
.w90 {width: 90% !important;}
.w100 {width: 100% !important;}